/* Сброс + базовые настройки */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

/* Удаляем скролл, делаем как приложение */
html,
body {
  height: 100%;
  overflow: hidden;
}

/* Голубой фон с градиентом */
body {
  background: linear-gradient(to bottom, #9ed8ff 0%, #cbeaff 50%, #ffffff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Контейнер приложения */
.container {
  background-color: #f3f3f3;
  border: 1px solid #cccccc;
  border-radius: 1.5rem;
  padding: 2rem;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.saved-btn {
  padding: 0.5rem 1.2rem;
  background-color: #6490c0;
  color: white;
  border: none;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.saved-btn:hover {
  background-color: #2e619b;
}

/* ————————————————
   СТИЛИЗАЦИЯ КАРТОЧКИ ПОКЕМОНА
   ———————————————— */

/* Карточка похожая на Pokémon TCG */
.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  background: linear-gradient(135deg, #fafafa, #e3e3e3);
  border-radius: 1rem;
  padding: 1rem;
  border: 2px solid #d1cfcf;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.7),
    0 4px 10px rgba(0, 0, 0, 0.2);
}

/* HP */
.card-hp {
  align-self: flex-end;
  background-color: #ff4646;
  color: #fff;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.card-hp__stat {
  background-color: #fff;
  color: #ff4646;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  font-weight: 600;
}

/* Имя покемона */
.card-name {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: capitalize;
}

/* Область картинки */
.image {
  width: 15.5rem;
  aspect-ratio: 1 / 1; /* квадрат, но адаптивный */
  background: radial-gradient(circle, #fff 0%, #ffe991 40%, transparent 80%);
  background-size: cover; /* фон не будет обрезан */
  background-position: center;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 90%;
  height: auto;
}

/* Abilities */
.card-abilities {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

.ability {
  background-color: #ffe066;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  border: 1px solid #d4b200;
}

/* Статы внизу */
/* Контейнер для всех статов под HP */
.stats {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

/* Один stat-блок */
.stat-item {
  background: #ffffff; /* светло-серый фон */
  border-radius: 12px; /* как в HP */
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #333; /* тёмно-серый текст */
  font-size: 0.95rem;
  border: 1px solid #d3d3d3; /* лёгкая рамка */
}

/* Название стата — жирнее */
.stat-label {
  font-weight: 400;
  color: #2b2b2b;
}

/* Значение — чуть тоньше */
.stat-value {
  font-weight: 600;
  color: #3f3f3f;
}

/* Кнопка */
.generate-random {
  padding: 0.5rem 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.generate-random:hover {
  background-color: #005fcc;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  width: 420px;
  max-height: 500px;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  z-index: 5;
}

/* ——— Список сохранённых покемонов ——— */

.saved-list {
  overflow-y: auto;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-right: 0.5rem;
}

/* Один элемент списка хранённых */

.saved-item {
  background: #f4f4f4;
  padding: 0.7rem;
  border-radius: 0.7rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid #cfcfcf;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Иконка-портрет покемона */

.saved-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.saved-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Текстовая информация */

.saved-info {
  color: #444;
  font-size: 0.9rem;
}

.saved-info b {
  font-weight: 700;
  color: #222;
}

/* Кнопка закрытия */

.close-modal {
  padding: 0.5rem 1rem;
  background: #ff5252;
  color: white;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  align-self: flex-end;
}

.close-modal:hover {
  background: #e03e3e;
}
